<!DOCTYPE html>
<html lang="en">
<head>
    
    <%- include('./Partials/head') %>
    <title>cartManager</title>
</head>
<body>
    <%- include('./Partials/nav') %>
    <div style="
  height: 100vh;
  background-image: url('/Images/bg.jpg');
  background-size: cover;
  background-position: center;
">
    <%- include('./Partials/products') %>
    </div>
        
    

    <%- include('./Partials/script') %>
</body>
</html>